:root {
  --font-title: "poppins-bold";
  --font-second: "poppins";
  --color-primary: #34364a;
  --Background-color: #f6f8fd;
  --color-bottom: #66dddd;
  --bottom-hover: #53bebe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  letter-spacing: 0.1rem;
}
/* Navbar */
.navbar .navbar-brand {
  width: 122px;
  font-family: "spartan";
  font-size: 36px;
  color: #000;
  margin-right: 60px;
}
.navbar .Logo-Brand {
  width: 100px;
}
.navbar .nav-link {
  font-size: 18px;
  margin-right: 40px;
  font-family: var(--font-second);
  color: var(--color-primary) !important;
}
.navbar .search-button {
  width: 60px;
  height: 60px;
  background-color: #e5e9f2;
  border-radius: 100px;
}
.navbar .btn-secondary {
  background-color: #66dddd;
  border: 0;
}

.navbar .btn-login {
  width: 160px;
  height: 45px;
  border-radius: 27px;
  font-family: var(--font-second);
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  color: #fff;
}
/* akhir navbar */

/* Home section */
.Home-section {
  padding-top: 5%;
  background-image: url(../images/1\ 1.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.Home-section .Home-row h1 {
  font-family: var(--font-title);
  font-size: 45px;
}
.Home-section .Home-row p {
  font-family: var(--font-second);
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.Home-section .Home-search {
  width: 400px;
  height: 55px;
  border: none;
  border-radius: 25px 0px 0px 25px;
  font-family: var(--font-second);
  padding-left: 20px;
  color: #78797e;
}

.Home-section .fa-search {
  position: absolute;
  padding-top: 8px;
  font-size: 40px;
  color: #fff;
  background-color: #66dddd;
  border-radius: 0px 25px 25px 0px;
  width: 80px;
  height: 55px;
}
/* Roadmap-section */
.Roadmap-section {
  padding-top: 5%;
  font-family: var(--font-second);
  background-color: var(--Background-color);
  width: 100%;
}
.Roadmap-section h1 {
  font-size: 36px;
  font-weight: bold;
}

.Roadmap-section .card-Roadmap {
  width: 20rem;
  border-radius: 18px;
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-second);
  background: #fff;
  transition: transform 0.3s;
  cursor: pointer;
}

.Roadmap-section .card-Roadmap:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.Roadmap-section .card-Roadmap img {
  width: 120px;
  height: 120px;
  background-color: #e5e9f2;
  border-radius: 100px;
}

.Roadmap-section .card-Roadmap h5 {
  font-size: 24px;
  font-weight: bold;
}
.Roadmap-section .card-Roadmap p {
  font-size: 18px;
}
.Roadmap-section .card-Roadmap span {
  color: #000;
}

.Daftar-section {
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: var(--font-second);
  background: #f6f8fd;
}

.Daftar-section .Content-Daftar img {
  width: 200px;
  height: 200px;
  background-color: #e5e9f2;
  border-radius: 100px;
}

.Daftar-section .btn-daftar {
  background: var(--color-bottom);
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.Daftar-section .btn-daftar:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.Daftar-section p {
  font-size: 20px;
}

/* course-section */
.Course-section {
  padding-top: 5%;
  padding-bottom: 7%;
  font-family: var(--font-second);
  background: #f6f8fd;
}
.Course-section p {
  font-size: 20px;
}
.Course-section .card-course {
  width: 346px;
  height: 340px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: 20px;
}

.Course-section .card-course:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.Course-section img {
  padding: 15px;
  border-radius: 26px;
}

.Course-section .Icon-Recomend {
  position: relative;
  left: 0px;
  top: -35px;
}
.Course-section .component .card-text {
  position: relative;
  top: -19px;
}

.footer-section {
  padding-top: 5%;
  height: 50vh;
  font-family: var(--font-second);
  background: #f6f8fd;
  box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
  box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 2px -1px 8px -2px rgba(0, 0, 0, 0.47);
}
.footer-section img {
  width: 30%;
}
.footer-section p {
  margin-top: 25px;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.footer-section ul {
  position: relative;
  left: -30px;
  margin-top: 35px;
}

.footer-section li {
  list-style: none;
  text-decoration: none;
}
.footer-section li a {
  text-decoration: none;
  line-height: 2.1em;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #000;
}
.footer-section li a:hover {
  text-decoration: none;
  line-height: 2.1em;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #66dddd;
}

.footer-section .text-product {
  margin-top: 40px;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 16px;
}

.footer-section .list-group-item {
  position: relative;
  left: -8%;
  border: none;
  background: none;
  font-size: 50px;
  cursor: pointer;
  margin-top: 15px;
}
.footer-section .list-group-item:nth-child(1):hover {
  color: red;
}
.footer-section .list-group-item:nth-child(2):hover {
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  background: linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-section .list-group-item:nth-child(3):hover {
  color: #548cff;
}
/* Breakpoint */
/* Home page */
/* version mobile */
@media (max-width: 575.98px) {
  .navbar .btn-serach {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100px;
  }
  .navbar .btn-login {
    width: 100%;
    height: 55px;
    border-radius: 25px;
    font-family: var(--font-second);
    font-size: 20px;
    color: #fff;
  }
  /* home section */
  .Home-section .Home-row .home-image {
    display: none;
  }
  .Home-section .Home-row .btn-daftar {
    width: 100%;
  }
  .Home-section .Home-row h1 {
    font-family: var(--font-title);
    font-size: 40px;
  }
  .Home-section .Home-row p {
    font-family: var(--font-second);
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 50px;
  }
  /*  Roadmap-section*/
  .Roadmap-section {
    padding-top: 25%;
    font-family: var(--font-second);
  }
  .Roadmap-section .row-Roadmap {
    margin-top: 20px;
  }
  .Roadmap-section .card-Roadmap {
    width: 100%;
  }

  .Fitur-section .card-Fitur {
    width: 100%;
    margin-bottom: 10px;
  }

  .Course-section .card-course {
    width: 100%;
    margin-bottom: 20px;
  }

  .Course-section .card-course:hover {
    transform: none;
    transition: none;
  }
  .footer-section {
    height: 100vh;
  }
  .footer-section .list-group-item {
    position: relative;
    left: 2.5%;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
  }
}
/* akhir breakpoint */
