:root {
  --font-title: "poppins-bold";
  --font-second: "poppins";
  --main-color: #f7f8fd;
  --primary-color: #2f37a4;
  --secondary-color: #fe721c;
  --hover-color: #1f2579;
  --white-text: #ffffff;
  --black-text: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  letter-spacing: 0.1rem;
}
/* Dekstop Version */
/* Navbar */
.navbar {
  background: var(--main-color);
}
.navbar .navbar-brand {
  width: 122px;
  color: #000;
  margin-right: 60px;
}
.navbar .Logo-Brand {
  width: 100px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-right: 40px;
  font-family: var(--font-second);
  color: var(--color-primary) !important;
}
.navbar .nav-link:hover::after {
  content: "";
  width: 60%;
  display: block;
  border-bottom: 3px solid var(--primary-color);
  margin: auto;
  padding-bottom: 3px;
  margin-bottom: -6px;
}

.navbar .btn-login {
  width: 160px;
  height: 45px;
  border-radius: 27px;
  background-color: var(--primary-color);
  font-family: var(--font-second);
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
  color: #fff;
}
.navbar .btn:hover {
  background: var(--hover-color);
}
/* akhir navbar */

/* Home section */
.Home-section {
  background: var(--main-color);
  max-height: 100vh;
  font-family: var(--font-second);
  padding-top: 4%;
}
.Home-section .Home-row h1 {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 45px;
}
.Home-section .Home-row p {
  font-family: var(--font-second);
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.Home-section .Home-search {
  width: 400px;
  height: 55px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-second);
  padding-left: 20px;
  color: #78797e;
}

.Home-section .fa-search {
  position: absolute;
  padding-top: 8px;
  font-size: 40px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 55px;
}
.Home-section .fa-search:hover {
  background-color: var(--hover-color);
}
.Home-section img {
  width: 390px;
}
/* Roadmap-section */
.Roadmap-section {
  padding-top: 5%;
  font-family: var(--font-second);
  background-color: var(--main-color);
  min-height: 100vh;
}
.Roadmap-section h1 {
  font-size: 36px;
  font-weight: bold;
}

.Roadmap-section .card-Roadmap {
  width: 20rem;
  border-radius: 18px;
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-second);
  background-color: #fff;
  transition: transform 0.3s;
  cursor: pointer;
}

.Roadmap-section .card-Roadmap:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.Roadmap-section .card-Roadmap img {
  width: 200px;
  height: 200px;
}

.Roadmap-section .card-Roadmap h5 {
  font-size: 24px;
  font-weight: bold;
}
.Roadmap-section .card-Roadmap p {
  font-size: 18px;
}
.Roadmap-section .card-Roadmap .btn-gabung {
  background: var(--primary-color);
  border-radius: 50px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}
.Roadmap-section .card-Roadmap .btn-gabung:hover {
  background: var(--hover-color);
}
.Roadmap-section .card-Roadmap a {
  color: var(--white-text);
  font-size: 20px;
  letter-spacing: 2px;
}

.Daftar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  font-family: var(--font-second);
  background-image: url(../images/jumbotron.png);
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
.Daftar-section .btn-daftar {
  background: var(--primary-color);
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.Daftar-section .btn-daftar:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  color: #fff;
  background: var(--hover-color);
}

.Daftar-section p {
  font-size: 20px;
}
/* benefit-section */
.benefit-section {
  min-height: 100vh;
  background: var(--main-color);
  font-family: var(--font-second);
}
.benefit-section .benefit-content {
  margin-bottom: 5em;
}
.benefit-section .benefit {
  letter-spacing: 0.12rem;
  font-size: 14px;
}
.benefit-section img {
  margin-top: -10%;
  width: 600px;
}

/* course-section */
.Course-section {
  padding-top: 5%;
  padding-bottom: 7%;
  font-family: var(--font-second);
  /* background: #f6f8fd; */
}
.Course-section p {
  font-size: 20px;
}
.Course-section .card-course {
  width: 346px;
  height: 340px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: 20px;
}

.Course-section .card-course:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.Course-section img {
  padding: 15px;
  border-radius: 26px;
}

.Course-section .Icon-Recomend {
  position: relative;
  left: 0px;
  top: -35px;
}
.Course-section .component .card-text {
  position: relative;
  top: -19px;
}
/* akhir Home Page */

.footer-section {
  padding-top: 5%;
  height: 60vh;
  font-family: var(--font-second);
  background: var(--primary-color);
  color: var(--white-text);
}
.footer-section img {
  width: 30%;
}
.footer-section p {
  margin-top: 25px;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.footer-section ul {
  position: relative;
  left: -30px;
  margin-top: 35px;
}

.footer-section li {
  list-style: none;
  text-decoration: none;
}
.footer-section li a {
  text-decoration: none;
  line-height: 2.1em;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #000;
}
.footer-section li a:hover {
  text-decoration: none;
  line-height: 2.1em;
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #66dddd;
}

.footer-section .text-product {
  margin-top: 40px;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 16px;
}

.footer-section .list-group-item {
  position: relative;
  left: -8%;
  border: none;
  background: none;
  font-size: 50px;
  cursor: pointer;
  margin-top: 15px;
  color: var(--white-text);
}
.footer-section .list-group-item:nth-child(1):hover {
  color: red;
}
.footer-section .list-group-item:nth-child(2):hover {
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  background: linear-gradient(to right, #121fcf 0%, #ff26e9 50%, #cf601f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-section .list-group-item:nth-child(3):hover {
  color: #548cff;
}

/* /Sigup Page */
.hero {
  font-family: var(--font-second);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero .kolom-1 {
  background: var(--primary-color);
  min-height: 100vh;
  color: #fff;
}
.hero .kolom-1 h2 {
  font-size: 25px;
}

.hero .kolom-1 h4 {
  margin-top: -5%;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.hero img {
  width: 70%;
}
.hero .kolom-2 span {
  margin-top: 10px;
  margin-right: 10px;
}
.hero .kolom-2 .btn-login {
  width: 118px;
  height: 44px;
  position: relative;
  top: 3%;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
}
.hero .kolom-2 .btn-regis {
  width: 118px;
  height: 44px;
  position: relative;
  top: 3%;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
}
.hero .content {
  margin-top: 20%;
}
.hero .btn-sigup {
  margin-top: 50px;
  margin-left: 50px;
}
.hero .btn-sigup button {
  width: 477px;
  height: 80px;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  transform: scale(0.9);
  transition: 0.7s ease-in-out;
  margin-bottom: 10px;
}
.hero .btn-sigup button:hover {
  transform: scale(0.95);
  transition: 0.5s ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.hero .btn-icon {
  width: 50px;
  margin-right: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
.hero .star {
  font-size: 20px;
  padding-top: 18px;
}
.hero .ketentuan {
  margin-top: 30px;
  font-size: 12px;
  flex-direction: column;
}
.hero .ketentuan a {
  text-decoration: none;
  color: #eb3740;
}

/* 404 not found page */
.notfound-section {
  background: var(--main-color);
  min-height: 100vh;
  font-family: var(--font-second);
}
.notfound-section h1 {
  color: var(--primary-color);
}

.notfound-section img {
  width: 100%;
}
.notfound-section .btn-notfound-section {
  background: var(--primary-color);
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.notfound-section .btn-notfound-section:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  color: #fff;
  background: var(--hover-color);
}

/* Breakpoint */
/* version mobile */
@media (max-width: 575.98px) {
  /* Landing page */
  .navbar .btn-login {
    width: 100%;
    height: 55px;
    border-radius: 25px;
    font-family: var(--font-second);
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
  }
  .navbar .nav-link:hover:after {
    display: none;
  }
  /* home section */
  .Home-section {
    background: var(--main-color);
    font-family: var(--font-second);
  }
  .Home-section img {
    margin-top: 40px;
    width: 80%;
  }
  .Home-section .Home-row .btn-daftar {
    width: 100%;
  }
  .Home-section .Home-row h1 {
    font-family: var(--font-title);
    font-size: 40px;
  }
  .Home-section .Home-row p {
    font-family: var(--font-second);
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 50px;
  }
  .Home-section .Home-search {
    width: 100%;
  }
  .Home-section .fa-search {
    display: none;
  }
  /*  Roadmap-section*/
  .Roadmap-section {
    font-family: var(--font-second);
    padding-top: 10%;
    max-width: 100vh;
  }
  .Roadmap-section .row-Roadmap {
    margin-top: 20px;
  }
  .Roadmap-section .card-Roadmap {
    width: 100%;
    border-radius: 18px;
    border: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    font-family: var(--font-second);
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .Roadmap-section .card-Roadmap:hover {
    transform: none;
  }

  .Fitur-section .card-Fitur {
    width: 100%;
    margin-bottom: 10px;
  }

  .Course-section .card-course {
    width: 100%;
    margin-bottom: 20px;
  }

  .Course-section .card-course:hover {
    transform: none;
    transition: none;
  }

  .Daftar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    font-family: var(--font-second);
    background-image: none;
    background-size: none;
    min-height: 80vh;
    max-width: 100%;
  }
  /* benefit section */
  .benefit-section img {
    display: none;
  }

  .footer-section {
    height: 100vh;
  }
  .footer-section .list-group-item {
    position: relative;
    left: 2.5%;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
  }

  /* sign/sign up */
  .hero .kolom-2 .btn-login {
    margin-left: 10px;
    width: 80px;
    height: 44px;
    position: relative;
    top: 3%;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
  }
  .hero .kolom-2 .btn-regis {
    margin-left: 5px;
    width: 90px;
    height: 40px;
    position: relative;
    top: 3%;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 16px;
  }

  .hero {
    background: var(--main-color);
    min-height: 100vh;
  }
  .hero .first-column {
    display: none;
  }
  .hero .btn-sigup {
    position: relative;
    top: 4em;
    left: -3em;
    right: 0;
  }

  .hero .btn-sigup button {
    position: relative;
    width: 300px;
    height: 80px;
  }
  .hero .btn-sigup .logo {
    position: relative;
    transform: translateX(50%);
  }

  .hero .btn-sigup .btn-icon {
    width: 40px;
    padding-top: 30px;
  }

  .hero .btn-sigup .logo {
    width: 130px;
  }

  .hero .content h3 {
    font-size: 20px;
    position: absolute;
    top: 5em;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  .hero .content p {
    display: none;
  }
  .hero .ketentuan {
    position: absolute;
    bottom: 0;
  }

  /* notfound page */
  .notfound-section img {
    width: 100%;
  }
  /* akhir landing page */

  /* 404 not found page */
  .notfound-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  .notfound-section h1 {
    font-size: 40px;
    letter-spacing: 0.1rem;
  }
  .notfound-section h1,
  h2,
  img,
  .btn-notfound-section {
    padding-bottom: 2rem;
  }
  /* sign in/up */
}

/* akhir breakpoint */
